body {
    background-color:rgb(160, 160, 160);
    font-family: 'PT Sans Narrow', sans-serif;
  }
  h2 {
    font-family: 'Staatliches', cursive;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    display: block;
  }
  
  title {
      text-align: center
  }
  .jumbotron {
    background-color: rgb(64, 64, 250);
  }

  #projects {
    color: blue;
  }

  #links {
    color: blue;
  }
