body {
    background-color:rgb(160, 160, 160);
    font-family: 'PT Sans Narrow', sans-serif;
  }
  h2 {
    font-family: 'Staatliches', cursive;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    display: block;
  }
  
  title {
      text-align: center
  }
  .jumbotron {
    background-image: url(/img/baseballBG.png);
    background-size: cover;
 background-repeat: no-repeat;
    color: whitesmoke;
  }

  #projects {
    color: black;
  }

  #links {
    color: black;
  }
